.product-card-main {
  display: flex;
  background-color: var(--bg-accent);
  font-size: var(--font-size-body-small);
  font-family: var(--primary-font-family);
  flex-direction: column;
  width: 100%;
  height: 50vh;
  cursor: pointer;
}
.product-card-main:hover {
  background-color: var(--card-bg-secondary);
}
.product-card-header {
  display: flex;
  width: 100%;
  height: 10%;
  font-size: 1.5vw;
  color: var(--header-text);
  text-align: center;
  margin-top: 1.5vh;
  justify-content: center;
  cursor: pointer;
}

.product-card-category {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  width: 100%;
  height: 5%;
  color: var(--button-color);
  cursor: pointer;
}

.product-card-image {
  display: flex;
  flex-direction: row;
  width: 60%;
  height: 50%;
  margin: 0 20%;
  margin-top: auto;
  margin-bottom: 5vh;
  cursor: pointer;
}
