.search-parent {
  flex: 1;
  background-color: var();
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 2vh;
  margin-top: 2.5vh;
  margin-bottom: auto;
}

.search-field {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 2vh;
  width: 50vw;
}
.search-parent p {
  font-size: var(--font-size-body-normal);
  color: var(--general-text);
}

.search-parent img {
}

.search-input {
  flex: 1;
  background-color: var(--input-field-bg);
  width: 50%;
  color: var(--header-text);
  font-size: var(--font-size-body-normal);
  border: 0 transparent;
}
