#root {
  /*General bgs*/
  --bg-alternate: #161618;
  --bg-accent: #2a2f3b;

  /*Card bgs */
  --card-bg-main: #202127;
  --card-bg-secondary: #3a4149;
  --card-bg-accent: #4a3b5c;

  /*Text and Button colors */

  --button-text: #243600;
  --button-color: #acd268;
  --button-border: transparent;
  --alt-button-color: #32363f;

  --header-text: #dfdfd6;
  --general-text: #98989f;
  --sub-text: #606061;
  --input-field-bg: #161618;
  --error-text: #d45656;
  /* Font sizes */

  --font-size-body-normal: 1vw;
  --font-size-body-small: 0.875vw;

  --font-size-card-title: 1.5vw;
  --font-size-header: 2.5vw;
}

:root {
  --bg-root: #1b1b1f;
  --primary-font-family: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  background-color: var(--bg-root);
  font-family: var(--primary-font-family);
}

body {
  margin: 0;
  padding: 0;
}

.primary-action-button {
  color: var(--button-text);
  background-color: var(--button-color);
  border: var(--button-border);
  border-radius: 2vw;
  padding: 0 0.5vw;
  line-height: 2vh;
  font-family: var(--primary-font-family);
  font-size: var(--font-size-body-normal);
  cursor: pointer;
}

.alt-action-button {
  color: var(--header-text);
  background-color: var(--alt-button-color);
  border: var(--button-border);
  border-radius: 2vw;
  padding: 0 0.5vw;
  line-height: 2vh;
  font-family: var(--primary-font-family);
  font-size: var(--font-size-body-normal);
  cursor: pointer;
}
